.swiper-slide {
  transition: all 400ms;
}

.swiper-slide-active {
  height: 35.25rem;
  width: 23rem;
  transform: scale(2);
  transition: all 400ms;
  border: 0px;
  border-bottom: 3px solid #ffcc00;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.32);
  z-index: 990;
  margin-left: 6.25rem !important;
  margin-right: 6.25rem !important;

  @media (min-width: 1366px) {
    width: 26.5rem;
    height: 535.25rem;
  }

  @media (min-width: 1920px) {
    width: 26.5rem;
    height: 535.25rem;
  }
}

.item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  height: 60%;
  width: 60%;

  color: #ddd;
}

.item-image .placeholder {
  border: 1px solid #979797;
  height: 6.25rem;
  width: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-active .item-title {
  color: #232323;
}

.item-button a {
  display: none;
  font-size: 0.5625rem;
  color: #232323;
  font-family: "Work Sans";
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 1.75rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.swiper-slide-active .item-button a {
  display: block;
}

.swiper-button-prev {
  outline: none;
  @media (min-width: 1366px) {
    left: 4.875rem !important;
  }
  @media (min-width: 1920px) {
  }
}

.swiper-button-next {
  outline: none;
  @media (min-width: 1366px) {
    margin-right: 4.5rem;
  }
  @media (min-width: 1920px) {
    right: 2rem !important;
  }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  @media (min-width: 1920px) {
    left: auto;
  }
}

.swiper-button-prev:after {
  content: "";
}

.swiper-button-next:after {
  content: "";
}
