.content-wrapper {
  height: 100vh;

  @media only screen and (min-width: 1366px) {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }

  @media only screen and (min-width: 1920px) {
    width: 100vw;
    max-width: 88.5rem;
    margin-left: 15.75rem;
    margin-right: 15.75rem;
  }
}

.carousel-wrapper {
  display: flex;
  justify-content: space-between;

  @media only screen and (min-width: 1080px) {
    margin-top: 7.5rem;
  }

  .carousel-heading {
    font-family: "Work Sans";
    position: relative;
    padding-top: 0.5rem;
    margin-left: -47px;
    padding-bottom: 2.25rem;
    height: 5rem;
    width: 12.5rem;
    color: #232323;
    font-size: 31px;
    font-weight: 600;
    letter-spacing: -0.0125rem;
    line-height: 2.75rem;
    text-align: left;

    @media only screen and (min-width: 1336px) {
      width: 12.5rem;
      margin-left: 0.125rem;
      margin-bottom: 0.25rem;
      line-height: 2.5rem;
    }

    @media only screen and (min-width: 1920px) {
      width: 13.5rem;
      margin-left: 2.4375rem;
    }
  }

  @media (min-width: 1336px) {
    margin-top: 10rem;
  }

  @media (min-width: 1920px) {
    margin-top: 10rem;
  }
}

.wrapper {
  height: 22.875rem;
  width: 67.5rem;
  min-width: 21.875rem;
  margin-top: 3.375rem;
  position: relative;

  @media only screen and (min-width: 1080px) {
  }

  .cell {
    flex-direction: column;
    box-sizing: border-box;
    height: 17.75rem !important;
    width: 12.5rem !important;
    border-radius: 0.5rem;
    text-align: center;
    background: linear-gradient(180deg, #ffffff 0%, #ebebeb 100%);
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.32);

    @media only screen and (min-width: 1920px) {
      box-sizing: border-box;
      height: 17.75rem;
      width: 13.5rem;
      border-radius: 0.5rem;
      box-shadow: 1px 5px 3px 2px rgba(0, 0, 0, 0.12);
      border: 1px solid rgba(150, 150, 150, 0.08);
    }

    .item-title {
      width: 7.75rem;
      color: #232323;
      font-family: "Work Sans";
      font-size: 1.25rem;
      font-weight: 500;
      letter-spacing: -0.2px;
      line-height: 1.5rem;
      text-align: center;
    }

    &:hover {
      background-color: #232323;
      color: #ffcc00;
    }
  }
}

.arrow {
  box-shadow: 0 0.125rem 0.55rem 0 rgba(0, 0, 0, 0.32);
  @media only screen and (min-width: 1080px) {
    width: 2.5rem;
    height: 2.5rem;
    background-color: black;
    border-radius: 50%;
    color: white;
    &:hover {
      background-color: #ffcc00;
      box-shadow: 0 0.125rem 0.55rem 0 rgba(0, 0, 0, 0.32);
    }
  }
}
