<div class="progress">
  <div
    class="progress-bar"
    role="progressbar"
    aria-valuenow="25"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container my-3">
    <a class="navbar-brand" href="#">
      <img
        src="../../assets/images/1024px-MTN_Logo.svg.png"
        width="85"
        alt="logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active left-link mx-3"
            aria-current="page"
            href="#"
          >
            Store
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-link mx-3" href="#">
            Products &amp; Services
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-link mx-3" href="#"> Help &amp; Support</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown mx-4">
            <a class="nav-link right-link text-uppercase" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle right-link text-uppercase"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="indicator mr-3">&nbsp;</span>
              Personal
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item text-uppercase right-link" href="#">
                  Personal
                </a>
              </li>
              <li>
                <a class="dropdown-item text-uppercase right-link" href="#">
                  Business
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
