<app-navbar></app-navbar>

<div class="content-wrapper">
  <div class="carousel-wrapper">
    <div class="row">
      <div class="col-8"></div>
      <div class="col-2">
        <div class="carousel-heading">
          <span class="fw-light">What are you </span>here to do?
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <app-carousel></app-carousel>
</div>
