@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;900&display=swap");
@import "./assets/scss/global";
@import "./assets/scss/navbar";

html,
body {
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: white;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.625;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: visible !important;
  @media only screen and (min-width: 1366px) {
  }
  @media (min-width: 1920px) {
  }
}

swiper > .swiper.s-wrapper .swiper-wrapper .swiper-slide {
  overflow: hidden !important;
}

.swiper-slide-next {
  margin-left: 1rem;
  @media only screen and (min-width: 1366px) {
    margin-left: 1.5rem;
  }
}

.swiper-slide-active > div.item-button {
  margin: 35px;
}
